@media only screen and (max-width: 400px) {
  .title-container {
    display: none !important;
  }

  .title {
    padding-left: 0.5em;
    font-size: 4rem !important;
    h1 {
      font-size: 4rem !important;
    }
  }
  .btn-login {
    margin-left: -0.4em !important;
  }
}

.btn-login-an {
  &:hover {
    background-color: #6ab447 !important;
    color: white !important;
  }
}

.input {
  background-color: #efefef !important;
  background: #efefef !important;
  padding: 1.4rem 1rem;
  border-radius: 1.3rem 0 1.3rem 0;
  margin-bottom: 0.5rem;
  color: black;
  font-size: 1.2rem;
  font-weight: 400;
  outline: none;
  width: 90%;
}

.input:focus {
  border-bottom: 2px solid #6ab447;
}

.btn-login {
  height: 3.6rem;
  width: 14rem !important;
  color: white;
  border-radius: 2rem;
  margin-top: 2rem;
  font-weight: 500;
}

.go-back-btn {
  background: none;
  border: none;
  margin-top: 1.5rem;
}

.go-back-btn:hover {
  background: none;
  color: #6ab447;
}
.go-back-btn:active {
  background: none !important;
  color: #6ab447;
  outline: none;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black !important;
  opacity: 1; /* Firefox */
}
.input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: black !important;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder {
  color: black !important;
  opacity: 1; /* Firefox */
}
