@media only screen and (max-width: 400px) {
  .title-container {
    display: none !important;
  }

  .title {
    padding-left: 0.5em;
    font-size: 4rem !important;
    h1 {
      font-size: 4rem !important;
    }
  }
  .btn-login {
    margin-left: -0.4em !important;
  }
}

.btn-login-an {
  &:hover {
    background-color: #cccccc !important;
  }
}
