.title-container {
  text-transform: capitalize !important;
}

@media only screen and (max-width: 768px) {
  .course-container {
    padding-top: 1rem !important;
    padding: 1rem !important;
  }
}

.add-module-line {
  &:hover {
    height: 3rem !important;
    transition: all 0.5s;
    .inside-line {
      height: 1.3rem;
      transform: translateY(1.5rem) !important;
      transition: all 0.4s;
    }
  }
}
