/* home */
@media only screen and (max-width: 768px) {
  .banner-img {
    display: none;
  }
}

.footer-feature {
  background-image: url("./assets/footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 19.8rem;
  width: 100%;
}
