$gray: #f1f0ee;
$primary: #67b045;

// * {
//   outline: 1px solid red;
// }

.coursel-img {
  height: 120vh;
  width: 100%;
  object-fit: cover;
}

.banner-container {
  position: relative;
  overflow: hidden;
  clip-path: path(
    "M422.5 736.173C203.3 765.978 55.1667 648.085 1 578.914V1H1443V760C1357 710.324 1254.5 637.5 1082.5 637.5C974.466 637.5 696.5 698.916 422.5 736.173Z"
  );
}

.banner-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    to bottom right,
    #67b045 20%,
    rgba(255, 255, 255, 0.632) 70%
  );
}

// title content

.title-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
  p {
    display: block;
    width: 70%;
    font-size: 1.2rem;
    text-align: center;
  }
}

// Benfits of certification
.benefits-title {
  font-weight: 800;
  color: $primary;
}
