$homePrimary: #ffb605;

.vector-img {
  width: 43%;
  position: absolute;
  bottom: 0;
  left: -10%;
  z-index: 3;
}

.c-logo {
  top: 0%;
  left: 2%;
  width: 40%;
  z-index: 0;
  opacity: 0.5;
}

.s-logo {
  top: 45%;
  left: 10%;
  width: 15%;
  z-index: 0;
}

.c-bg {
  bottom: -30%;
  left: 12%;
  width: 65%;
}

// event section
.event {
  margin-top: 10rem;
  .e-big-nb {
    font-size: 2.6rem;
    line-height: 2rem;
    margin-top: 0.5em;
    font-weight: bold;
    color: $homePrimary;
  }
  .e-img-left {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .e-img-tag {
    width: 100%;
    height: 19.9rem;
    object-fit: cover;
    object-position: right;
  }
  .e-inner-text {
    position: absolute;
    top: 6%;
    right: 1%;
    color: white;
    width: 60%;
  }
}

.e-btn {
  border: 1px solid black;
}

// registration
.registration {
  color: white;
  margin-top: 10rem;
  .bg {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;

    .title {
      color: white;
      text-align: center;
      margin-top: 7rem;
    }
    input {
      border-radius: 0;
    }
    .mybtn {
      background-color: $homePrimary;
      width: 100%;
      color: black;
      border-radius: 0;
    }
  }
}

// testmonial

.testmonial {
  margin-top: 5rem;
  text-align: center;

  .t-img {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin: 0 0.5em;
  }
}
