/* home */
@media only screen and (max-width: 768px) {
  .banner-img {
    display: none;
  }
}

/* faq */
.accordin-first {
  border-top: 2px solid #662d91 !important;
}
.accordion-item {
  border: none !important;
  border-bottom: 2px solid #662d91 !important;
}

.accordion-button {
  border: none !important;
  background: white !important;
  color: black m !important;
  outline: none !important;
}

.accordion-button-inner {
  color: black !important;
  padding: 1rem;
  font-size: 1.2rem;
  border-left: 5px solid #662d91;
}

@media only screen and (max-width: 768px) {
  .accordion- {
    font-size: 1.1rem !important;
    height: 4rem !important;
    padding-top: 0.3rem !important;
  }

  .accordin-body {
    font-size: 1rem !important;
  }
}

/* footer */
.footer-joinus {
  background-image: url("./assets/wave.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 19.8rem;
  width: 100%;
}
