$transparent: rgba(163, 163, 163, 0.6);
$transparent-dark: rgba(0, 0, 0, 0.3);
$homePrimary: #ffb605;
.c {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  .t-menu {
    background-color: white;
  }
  .logo {
    position: absolute;
    top: -450%;
    left: 15%;
    width: 9rem;
  }
}
.link {
  color: black;
  font-weight: bold;
}

.c-drop-item {
  background-color: $transparent;
  margin-bottom: 0.3rem;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  color: white;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  &:hover {
    background-color: $transparent-dark;
    color: white;
  }
}

.dropdown-toggle.nav-link {
  color: white;
}

.c-nav-drop {
  margin-right: 2rem;
  font-weight: bold;
  background: none;
  color: white;
  &.show {
    background: $transparent;
  }
  &:hover {
    background: $transparent;
  }
  .dropdown-toggle::after {
    content: none;
  }
  .dropdown-menu {
    background: none;
    outline: None;
    border: None;
  }
}

.bottom-nav-bar {
  .nav-link.link {
    color: white;
  }

  &.showNav {
    background-color: white;
    border-bottom: 1px solid rgba(128, 128, 128, 0.518);
    .nav-link.link {
      color: black;
    }
  }
  &.showNav {
    .dropdown-toggle {
      color: black;
    }
  }
}
