.btn-circle {
  &:hover {
    background-color: #d4d4d4 !important;
  }
}

.single-select {
  &:hover {
    background-color: #d4d4d4 !important;
  }
}

.item-container {
  &:hover {
    background-color: #dddddd !important;
  }
}
