@media only screen and (max-width: 768px) {
  .header-container {
    display: flex;
    flex-direction: column !important;
  }
}

.clear {
  * {
    all: initial !important;
  }
}

.editorc {
  aspect-ratio: 1 / 2;
}
